body {
    font-family: sans-serif;
}

.zones {
    display: flex;
    flex-direction: row;
}

.clock {
    margin-top: 1em;
    width: 200px;
    /*border: solid 1px;*/
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.location, .time {
    display: flex;
    align-self: center;
}

.timepart {
    border: solid 1px;
    padding: 1px;
}

.timepart:focus {
    border: solid 1px red;
}
